<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid w-25 align-middle border">
      <div class="row align-self-center">
          <div class="col">
              <form class="form-signin" action="#" th:action="@{/login}" th:object="${model}" method="post">
                  <h1 class="form-signin-heading mt-4 bg-primary text-center text-light rounded p-2"><small>SIGN IN</small></h1>  
                  <div th:if="*{idOrPasswdNotMatch}" class="alert alert-danger mt-4">
                      **Email or Password does not match or exists
                  </div>
                  <div th:if="*{LoginAgain}" class="alert alert-danger mt-4">
                        **Login again
                  </div>
                  
                  <label for="userID" class="sr-only">User ID</label>
                  <input class="form-control mt-4" type="text" id="userID" th:field="*{id}" placeholder="Email ID" required autofocus />
                  <label for="inputPasswd" class="sr-only">Password</label>
                  <input type="password" class="form-control mt-4" id="inputPasswd" th:field="*{passwd}" placeholder="Password" required />
                  <button class="btn btn-primary btn-block mt-4" type="submit">Sign in</button>
              </form>
          </div>
      </div>
      <div class="row mt-4">
          <div class="col">
              <form class="form-group" th:action="@{/register}" method="get">
                  <div class="row"> 
                      <div class="col mt-4 ml-1">
                          <large class="text-muted">Need an account? </large> 
                      </div>
                      <div class="col mt-4">
                          <button class="btn btn-primary float-right w-100" type="submit">Register</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>