<!doctype html>
<html lang="en">
  <head>
    <title>Register</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container w-50 border mt-4" th:object="${user}">
        <div class="row mt-2">   
            <div class="col">   
                <h1 class="bg-primary rounded float-middle text-center text-light p-2">
                    <small>SIGN UP</small>
                </h1>   
            </div>
        </div>
        <div class="row mt-2" th:if="*{passwdDoesNotMatch}" >
            <div class="col alert alert-danger ml-3 mr-3">
                <large>** Password does not match</large>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
            <form th:action="@{/register}" method="POST">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group d-inline">
                                <label for="firstName" class="col-sm-1-12 col-form-label">First Name</label>
                        </div>
                    </div>
                    <div class="col-8">
                        <div>
                            <input type="text" class="form-control" th:field="*{firstName}" id="firstname" placeholder="Enter your First Name" required autofocus>
                         </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-4">
                        <div class="form-group d-inline">
                                <label for="lastname" class="col-sm-1-12 col-form-label">Last Name</label>
                        </div>
                    </div>
                    <div class="col-8">
                        <div>
                            <input type="text" class="form-control" th:field="*{lastName}" id="lastname" placeholder="Enter your Last Name" required>
                         </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-4">
                        <div class="form-group d-inline">
                                <label for="email" class="col-sm-1-12 col-form-label">User ID</label>
                        </div>
                    </div>
                    <div class="col-8">
                        <div>
                            <input type="text" class="form-control" th:field="*{email}" id="email" placeholder="Enter your User ID" required>
                         </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-4">
                        <div class="form-group d-inline">
                                <label for="password" class="col-sm-1-12 col-form-label">Password</label>
                        </div>
                    </div>
                    <div class="col-8">
                        <div>
                            <input type="password" class="form-control" th:field="*{password}" id="password" placeholder="Enter New Password" required>
                         </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-4">
                        <div class="form-group">
                                <label for="confirmpassword" class="col-sm-1-12 col-form-label">Confirm Password</label>
                        </div>
                    </div>
                    <div class="col-8">
                        <div>
                            <input type="password" class="form-control" th:field="*{confirmPassword}" id="confirmPassword" placeholder="Confirm Password" required>
                         </div>
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    
                    <div class="col">
                        <div>
                            <button type="submit" class="btn btn-primary float-right w-100" id="submit" >Sign Up</button>
                         </div>
                    </div>
                </div>

            </form>
        </div?>
        </div>
    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>